@import "reset.css";
.header{
    width: 1349px;
height: 768px;
max-width: 100%;
margin: 0 auto;
}
.logo{
    width: 53px;
height: 47px;
margin-left:161px;
margin-top:51px;
margin-right:8px;
}
.text-decoration{
    font-size: 29px;
    color:white;
}
.flex-container {
    display: flex;
  }
  .box {   
    width: 100px;
    height:50px;
    margin: 0 5px;
    color:white;
    text-decoration:none;
  }
  .box-1 {
    margin-top: 51px;
    margin-left:155px;
    width:50px;
   color: white;
  }
  .box-2 {
    margin-top: 54px;
    width:70px;
    color:white;
    color: white;
  }  
  .box-3 {
    margin-top: 51px;
    margin-left:713px;
    width:190px;
    color:white;
    text-decoration:none;
    font-size: 18px;
line-height: 18px;
  }
a{
    color:white;
    text-decoration: none;
    color:white;
}
.right{
    text-align: right;
}
.a:hover{
    color:#F26522;
}
.poster{
    position:relative;
   margin-left:65px;
    display: flex;
    width: 300px;
height: 220px;
    text-decoration:none;  
    color:white;
    max-width: 1349px;
}
.poster2{
    position:relative;
   margin-left:155px;
   margin-top:22px;
    display: flex;
    width: 300px;
height: 220px;
    text-decoration:none;  
    color:white;
}
.descr{
    display:none;
    margin-left:0px;
 padding-left: 0px;;
    margin-top:17px;
    background: #F26522;
    height:43px;
    text-decoration:none;  
    color:white;
}
.descr2{
    display:none;
    margin-left:0px;
 padding-left: 0px;;
    margin-top:17px;
    background: #F26522;
    height:43px;
    text-decoration:none;  
    color:white;
}
.poster:hover .descr{
    display:block;
    position:absolute;
    top:150px;
    z-index:9999;
    width: 304px;
    height: 55px;
    text-decoration:none;  
    line-height: 18px;
    color:white;
    content: "\20aa ";
}
.descr3{
    display:none;
    margin-left:0px;
 padding-left: 0px;;
    margin-top:17px;
    background: #F26522;
    height:43px;
      
    text-decoration:none;  
    color:white;
}.poster3{
    position:relative;
   margin-left:65px;
 
    display: flex;
    width: 300px;
height: 220px;
    text-decoration:none;  
    color:white;
}
.poster3:hover .descr3{
    display:block;
    position:absolute;
    top:150px;
    z-index:9999;
    width: 304px;
    height: 55px;
    text-decoration:none;  
    line-height: 18px;
    color:white;
    content: "\20aa ";
}
.poster2:hover .descr2{
    display:block;
    position:absolute;
    top:150px;
    z-index:9999;
    width: 304px;
    height: 55px;
    text-decoration:none;  
    line-height: 18px;
    color:white;
    content: "\20aa ";
}
.class{
  display: inline;
  padding-top:120px;
}
.content{
display:inline;
padding-left:120px;
font-size:14px;

}
.teg{
    margin-left: 90px;
    margin-top:22px;
    color:white;
    font-size: 18px;
    line-height: 18px;
}
.teg:hover{
    color: #F26522;
}

.descr4{
    display:none;
    margin-left:0px;
 padding-left: 0px;;
    margin-top:17px;
    background: #F26522;
    height:43px;
      
    text-decoration:none;  
    color:white;
}.poster4{
    position:relative;
   margin-left:155px;
 margin-top:78px;
    display: flex;
    width: 300px;
height: 220px;
    text-decoration:none;  
    color:white;
}
.poster4:hover .descr4{
    display:block;
    position:absolute;
    top:150px;
    z-index:9999;
    width: 304px;
    height: 55px;
    text-decoration:none;  
    line-height: 18px;
    color:white;
    content: "\20aa ";
}
.descr5{
    display:none;
    margin-left:0px;
 padding-left: 0px;;
    margin-top:17px;
    background: #F26522;
    height:43px;
      
    text-decoration:none;  
    color:white;
}.poster5{
    position:relative;
   margin-left:65px;
 
    display: flex;
    width: 300px;
height: 220px;
    text-decoration:none;  
    color:white;
}
.poster5:hover .descr5{
    display:block;
    position:absolute;
    top:150px;
    z-index:9999;
    width: 304px;
    height: 55px;
    text-decoration:none;  
    line-height: 18px;
    color:white;
    content: "\20aa ";
}.descr6{
    display:none;
    margin-left:0px;
 padding-left: 0px;;
    margin-top:17px;
    background: #F26522;
    height:43px;
      
    text-decoration:none;  
    color:white;
}.poster6{
    position:relative;
   margin-left:65px;
 
    display: flex;
    width: 300px;
height: 220px;
    text-decoration:none;  
    color:white;
}
.poster6:hover .descr6{
    display:block;
    position:absolute;
    top:150px;
    z-index:9999;
    width: 304px;
    height: 55px;
    text-decoration:none;  
    line-height: 18px;
    color:white;
    content: "\20aa ";
}
.footer{
    margin-left:532px;
    margin-top:80px;
    color:white;
    font-size: 12px;
line-height: 12px;
}
p.new:after {
  content: ">";
  color: white;
display: inline;
  width: 2px;
  height: 2px;
  padding-left:16px;
}
